<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"twentytwentythree/hidden-404"} /-->
</main>
<!-- /wp:group -->
<span style="color: red; font-size: 133px">4040 </span>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto assumenda autem debitis eligendi, ex fuga fugit impedit itaque iure libero molestiae mollitia nam natus neque non numquam obcaecati porro quam quos reprehenderit sed sint sit sunt voluptas voluptate, voluptatem? Maiores sunt suscipit voluptates.
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
